:root {
    --blanco: #ffffff;
    --primario: #0089e4;
    --secundario: #ff9f46;
    --tercero: #2597f4;
    --secundarioOscuro: #e9791a;
    --gris: #757575;
    --oscuro: #212121;
    --fuentePrincipal: 'Krub', sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: var(--fuentePrincipal);
    // background-image: linear-gradient(to top, #dfe9f3 0%, var(--blanco), 100%);
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}  